{% extends "home.html" %}

{% block body %}
<div class="container"><div class="body-content">

<h1>Apps in {{ category }}</h1>

{% if applist %}
<div class="list-group">
  {% for app in applist %}
    <a href="{{ app.get_absolute_url }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ app.name }} <small class="text-muted">by {{ app.uploader.username }}</small></h4>
      <p class="list-group-item-text">{{ app.description }}</p>
    </a>
  {% endfor %}
{% else %}
  <p>There are no apps in this category - yet!</p>
{% endif %}
</div>


</div></div>
{% endblock body %}
