{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
{{ block.super }}
<script src="{% static 'js/parsley.min.js' %}"></script>
{% endblock head %}

{% block body %}
<div class="container"><div class="body-content">
<h1>Submit App</h1>

{% if message %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{ message }}</strong>
</div>
{% endif %}

{% crispy form form.helper %}

</div></div>
{% endblock body %}
