{% extends 'base.html' %}

{% block body %}
    <div class="container">

      <div class="jumbotron">
        <h1>Zero Install</h1>
        <p>Quality software at your fingertips</p>
        <p><a href="/learn-more/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
    </div><!-- container -->

<div class="container"><div class="body-content">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Secure</h2>
            <p>Install without passwords. Software doesn't get special privileges during installation so your system remains intact and you get peace of mind.</p>
            <p><a class="btn btn-default" href="/learn-more/">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Safe</h2>
            <p>With traditional systems, software can overwrite and damage other software on your computer. Here, all software can be installed safely side-by-side.</p>
            <p><a class="btn btn-default" href="/learn-more/">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Easy</h2>
            <p>One click enables you to use any software straight from this website on Windows, Mac OS X and any distribution of Linux.</p>
            <p><a class="btn btn-default" href="/learn-more/">View details &raquo;</a></p>
          </div>
        </div>

</div></div>
{% endblock body %}

</body>
</html>
