{% extends 'base.html' %}

{% block body %}
<div class="container"><div class="body-content">

<h1>Zero Install</h1>
<p>Here, on xyz.com, we use a technology called Zero Install
which enables us to provide software to our users without the
usual hassle. It can be downloaded on
<a href="http://www.0install.net/">0install.net</a> free of
charge.</p>

<p>When using our website, it is not necessary to decide which
version of the software is suitable for your machine, because
the software does that for you itself - as it should! That
which can be automated, should be!</p>

<p>In addition, all the software provided is installed in its
own folder and, during installation, it cannot affect anything
outside of this folder. This means software doesn't overwrite
other software and you can happily use any piece of software
alongside any other.</p>

<p>Updates are provided automatically and are installed only if
security checks are passed without a hitch so you can be sure
that your system remains just as secure as before.</p>

</div></div>

{% endblock body %}
